<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="module" src="login.js"></script>
</head>
<body>
<div class="container">
    <h3>Login please</h3>
    <form id="form" class="form">
        <p>
            <label>
                Username:
                <input type="text" name="username" id="username">
            </label>
        </p>
        <p>
            <label>
                Password:
                <input type="password" name="password" id="password">
            </label>
        </p>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
    </form>
    <p id="error-section" style="color: red"></p>
    <p>
        If your are not registered yet, please, <a href="#0" id="register-link">register</a>
    </p>
</div>
</body>
</html>
